.measurement {
  width: 95%;
  margin-bottom: 8vh;
}

.measurement-header {
  width: 100%;
}

.measurement-header-item {
  flex-grow: 1;
}

.measurement-header-item > h1 {
  font-size: 55px;
}

.measurement-header-button {
  width: 20%;
  margin-left: auto;
}
