.measurement {
  width: 95%;
  margin-bottom: 8vh;
}

.measurement-title {
  width: 100%;
  font-size: 30px;
  background-color: blue;
}

.measurement-sub-title {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.measurement-title-item {
  flex-grow: 1;
  border-style: solid;
  border-color: red;
}