@import '../variables';

.cabinet-cards {
  margin-top: 20px;
  gap: 20px;
  display: grid;
  grid-template-rows: repeat(1, auto);
}

@media (max-width: $mobile) {
  .cabinets {
    margin-top: 20px;
    margin-bottom: 40px;
    width: $maxMobileCabinetsWidth;
  }
  .cabinet-cards {
    width: $maxMobileCabinetsWidth;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: $mobile) and (max-width: ( $tablet - 1)) {
  .cabinets {
    margin-top: 25px;
    margin-bottom: 50px;
    width: $minMobileMaxTabletCabinetsWidth;
  }
  .cabinet-cards {
    width: $minMobileMaxTabletCabinetsWidth;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: $tablet) and (max-width: ($laptop - 1)) {
  .cabinets {
    margin-top: 20px;
    margin-bottom: 50px;
    width: $minTabletMaxLaptopCabinetsWidth;
  }
  .cabinet-cards {
    width: $minTabletMaxLaptopCabinetsWidth;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: $laptop) and (max-width: ($desktop - 1)) {
  .cabinets {
    margin-top: 20px;
    margin-bottom: 50px;
    width: $minLaptopMaxDesktopCabinetsWidth;
  }
  .cabinet-cards {
    width: $minLaptopMaxDesktopCabinetsWidth;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: $desktop) and (max-width: ($cinema - 1)) {
  .cabinets {
    margin-top: 20px;
    margin-bottom: 50px;
    width: $minDesktopMaxCinemaCabinetsWidth;
  }
  .cabinet-cards {
    width: $minDesktopMaxCinemaCabinetsWidth;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: $cinema) {
  .cabinets {
    margin-top: 35px;
    margin-bottom: 80px;
    width: $maxCinemaCabinetsWidth;
  }
  .cabinet-cards {
    width: $maxCinemaCabinetsWidth;
    grid-template-columns: repeat(3, 1fr);
  }
}
