@import '../variables';

.cabinets {
  background-color: blue;
}

.cabinet-cards {
  margin-top: 20px;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
}

@media (max-width: $mobile) {
  .cabinets {
    margin-top: 20px;
    margin-bottom: 40px;
    width: $maxMobileCabinetsWidth;
  }

  //   .cabinet-cards {
  //     margin-top: 20px;
  //     gap: 20px;
  //     display: grid;
  //     grid-template-columns: repeat(4, 1fr);
  //     grid-template-rows: repeat(3, auto);
  //   }
}

@media (min-width: $mobile) and (max-width: ( $tablet - 1)) {
  .cabinets {
    margin-top: 25px;
    margin-bottom: 50px;
    width: $minMobileMaxTabletCabinetsWidth;
  }

  // .cabinet-cards {
  //   margin-top: 20px;
  //   gap: 20px;
  //   display: grid;
  //   grid-template-columns: repeat(4, 1fr);
  //   grid-template-rows: repeat(3, auto);
  // }
}

@media (min-width: $tablet) and (max-width: ($laptop - 1)) {
  .cabinets {
    margin-top: 20px;
    margin-bottom: 50px;
    width: $minTabletMaxLaptopCabinetsWidth;
  }

  // .cabinet-cards {
  //   margin-top: 20px;
  //   gap: 20px;
  //   display: grid;
  //   grid-template-columns: repeat(4, 1fr);
  //   grid-template-rows: repeat(3, auto);
  // }
}

@media (min-width: $laptop) and (max-width: ($desktop - 1)) {
  .cabinets {
    margin-top: 20px;
    margin-bottom: 50px;
    width: $minLaptopMaxDesktopCabinetsWidth;
  }

  // .cabinet-cards {
  //   margin-top: 20px;
  //   gap: 20px;
  //   display: grid;
  //   grid-template-columns: repeat(4, 1fr);
  //   grid-template-rows: repeat(3, auto);
  // }
}

@media (min-width: $desktop) and (max-width: ($cinema - 1)) {
  .cabinets {
    margin-top: 20px;
    margin-bottom: 50px;
    width: $minDesktopMaxCinemaCabinetsWidth;
  }

  // .cabinet-cards {
  //   margin-top: 20px;
  //   gap: 20px;
  //   display: grid;
  //   grid-template-columns: repeat(4, 1fr);
  //   grid-template-rows: repeat(3, auto);
  // }
}

@media (min-width: $cinema) {
  .cabinets {
    margin-top: 35px;
    margin-bottom: 80px;
    width: $maxCinemaCabinetsWidth;
  }

  // .cabinet-cards {
  //   margin-top: 20px;
  //   gap: 20px;
  //   display: grid;
  //   grid-template-columns: repeat(4, 1fr);
  //   grid-template-rows: repeat(3, auto);
  // }
}
