@import '../variables';

.dropdown-btn {
  text-align: center;
}

@media (max-width: $mobile) {
  .dropdown-btn {
    width: $maxMobileCabinetsWidth;
  }
  .dropdown-btn > p {
    font-size: $maxMobileDropdownFont;
  }
}

@media (min-width: $mobile) and (max-width: ( $tablet - 1)) {
  .dropdown-btn {
    width: $minMobileMaxTabletCabinetsWidth;
  }
  .dropdown-btn > p {
    font-size: $minMobileMaxTabletDropdownFont;
  }
}

@media (min-width: $tablet) and (max-width: ($laptop - 1)) {
  .dropdown-btn {
    width: $minTabletMaxLaptopCabinetsWidth;
  }
  .dropdown-btn > p {
    font-size: $minTabletMaxLaptopDropdownFont;
  }
}

@media (min-width: $laptop) and (max-width: ($desktop - 1)) {
  .dropdown-btn {
    width: $minLaptopMaxDesktopCabinetsWidth;
  }
  .dropdown-btn > p {
    font-size: $minLaptopMaxDesktopDropdownFont;
  }
}

@media (min-width: $desktop) and (max-width: ($cinema - 1)) {
  .dropdown-btn {
    width: $minDesktopMaxCinemaCabinetsWidth;
  }
  .dropdown-btn > p {
    font-size: $minDesktopMaxCinemaDropdownFont;
  }
}

@media (min-width: $cinema) {
  .dropdown-btn {
    width: $maxCinemaCabinetsWidth;
  }
  .dropdown-btn > p {
    font-size: $maxCinemaCabinetsDropdownFont;
  }
}
