@import '../variables';

.footer {
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: $mobile) {
  p {
    font-size: 11px;
  }
}

@media (min-width: $mobile) and (max-width: ( $tablet - 1)) {
  p {
    font-size: 14px;
  }
}

@media (min-width: $tablet) and (max-width: ($laptop - 1)) {
  p {
    font-size: 16px;
  }
}

@media (min-width: $laptop) and (max-width: ($desktop - 1)) {
  p {
    font-size: 18px;
  }
}

@media (min-width: $desktop) and (max-width: ($cinema - 1)) {
  p {
    font-size: 18px;
  }
}

@media (min-width: $cinema) {
  p {
    font-size: 25px;
  }
}
