@import '../variables';

@media (max-width: $mobile) {
  .image {
    width: 100%;
    height: $maxMobileSpeakerItemsHeight;
  }
}

@media (min-width: $mobile) and (max-width: ( $tablet - 1)) {
  .image {
    width: 100%;
    height: $minMobileMaxTabletSpeakerItemsHeight;
  }
}

@media (min-width: $tablet) and (max-width: ($laptop - 1)) {
  .image {
    width: 100%;
    height: $minTabletMaxLaptopSpeakerItemsHeight;
  }
}

@media (min-width: $laptop) and (max-width: ($desktop - 1)) {
  .image {
    width: 380px;
    height: $minLaptopMaxDesktopSpeakerItemsHeight;
  }
}

@media (min-width: $desktop) and (max-width: ($cinema - 1)) {
  .image {
    width: 320px;
    height: $minDesktopMaxCinemaSpeakerItemsHeight;
  }
}

@media (min-width: $cinema) {
  .image {
    width: 800px;
    height: $maxCinemaCabinetsSpeakerItemsHeight;
  }
}
