@import '../variables';

.nav-bar {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: $mobile) {
  .nav-bar {
    width: 95%;
    flex-direction: column;
  }
}

@media (min-width: $mobile) and (max-width: ( $tablet - 1)) {
  .nav-bar {
    width: 95%;
    flex-direction: column;
  }
}

@media (min-width: $tablet) and (max-width: ($laptop - 1)) {
  .nav-bar {
    width: 95%;
    flex-direction: row;
  }
}

@media (min-width: $laptop) and (max-width: ($desktop - 1)) {
  .nav-bar {
    width: 85%;
    flex-direction: row;
  }
}

@media (min-width: $desktop) and (max-width: ($cinema - 1)) {
  .nav-bar {
    flex-direction: row;
    width: 65%;
  }
}

@media (min-width: $cinema) {
  .nav-bar {
    flex-direction: row;
    width: 55%;
    gap: 30px;
  }
}
