@import '../variables';

.speaker {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.props {
  width: 100%;
}

.prop {
  width: 100%;
  margin-left: 15px;
}

@media (max-width: $mobile) {
  .speaker {
    height: $maxMobileSpeakerItemsHeight;
  }
  .speaker > p {
    font-size: 15px;
  }
  .prop {
    margin-left: 10px;
  }
  .prop > p {
    font-size: 10px;
  }
}

@media (min-width: $mobile) and (max-width: ( $tablet - 1)) {
  .speaker {
    height: $minMobileMaxTabletSpeakerItemsHeight;
  }
  .speaker > p {
    font-size: 20px;
  }
  .prop {
    margin-left: 10px;
  }
  .prop > p {
    font-size: 15px;
  }
}

@media (min-width: $tablet) and (max-width: ($laptop - 1)) {
  .speaker {
    height: 290px;
    flex-grow: 1;
  }
  .speaker > p {
    font-size: 20px;
  }
  .prop {
    margin-left: 10px;
  }
  .prop > p {
    font-size: 10px;
  }
}

@media (min-width: $laptop) and (max-width: ($desktop - 1)) {
  .speaker {
    height: $minLaptopMaxDesktopSpeakerItemsHeight;
    flex-grow: 1;
  }
  .speaker > p {
    font-size: 20px;
  }
  .prop {
    margin-left: 10px;
  }
  .prop > p {
    font-size: 10px;
  }
}

@media (min-width: $desktop) and (max-width: ($cinema - 1)) {
  .speaker {
    height: $minDesktopMaxCinemaSpeakerItemsHeight;
    width: 180px;
  }
  .speaker > p {
    font-size: 20px;
  }
  .prop {
    margin-left: 8px;
  }
  .prop > p {
    font-size: 10px;
  }
}

@media (min-width: $cinema) {
  .speaker {
    height: $maxCinemaCabinetsSpeakerItemsHeight;
    width: 320px;
  }
  .speaker > p {
    font-size: 30px;
  }
  .prop > p {
    font-size: 19px;
  }
}
