.measurement {
  width: 95%;
  margin-bottom: 8vh;
}

.measurement-title {
  font-size: 30px;
}

.measurement-sub-title {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
