@import '../variables';

.measurement {
  width: 95%;
}

.btn {
  position: fixed;
}

.speaker-items {
  display: grid;
  grid-template-rows: repeat(1, auto);
  gap: 20px;
}

@media (max-width: $mobile) {
  .header-item > p {
    font-size: 30px;
  }
  .btn {
    display: none;
  }
  .speaker-items {
    grid-template-columns: repeat(1, 1fr);
    background-color: blue;
    width: 100%;
  }
}

@media (min-width: $mobile) and (max-width: ( $tablet - 1)) {
  .header-item > p {
    font-size: 40px;
  }
  .btn {
    display: none;
  }
  .speaker-items {
    grid-template-columns: repeat(1, 1fr);
    background-color: grey;
    width: 100%;
  }
}

@media (min-width: $tablet) and (max-width: ($laptop - 1)) {
  .header-item > p {
    font-size: 40px;
  }
  .btn {
    top: 60px;
    right: 40px;
  }
  .speaker-items {
    grid-template-columns: repeat(6, 1fr);
    background-color: rgb(68, 37, 194);
  }
}

@media (min-width: $laptop) and (max-width: ($desktop - 1)) {
  .header-item > p {
    font-size: 40px;
  }
  .btn {
    top: 60px;
    right: 60px;
  }
}

@media (min-width: $desktop) and (max-width: ($cinema - 1)) {
  .header-item > p {
    font-size: 40px;
  }
  .btn {
    top: 60px;
    right: 70px;
  }
  .speaker-items {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

@media (min-width: $cinema) {
  .header-item > p {
    font-size: 60px;
  }
  .btn {
    top: 80px;
    right: 100px;
  }
  .speaker-items {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
