@import '../variables';

.measurement {
  width: 95%;
}

.btn {
  position: fixed;
}

@media (max-width: $mobile) {
  .header-item > p {
    font-size: 30px;
  }
  .btn {
    display: none;
  }
}

@media (min-width: $mobile) and (max-width: ( $tablet - 1)) {
  .header-item > p {
    font-size: 40px;
  }
  .btn {
    display: none;
  }
}

@media (min-width: $tablet) and (max-width: ($laptop - 1)) {
  .header-item > p {
    font-size: 40px;
  }
  .btn {
    top: 60px;
    right: 40px;
  }
}

@media (min-width: $laptop) and (max-width: ($desktop - 1)) {
  .header-item > p {
    font-size: 40px;
  }
  .btn {
    top: 60px;
    right: 60px;
  }
}

@media (min-width: $desktop) and (max-width: ($cinema - 1)) {
  .header-item > p {
    font-size: 40px;
  }
  .btn {
    top: 60px;
    right: 70px;
  }
}

@media (min-width: $cinema) {
  .header-item > p {
    font-size: 60px;
  }
  .btn {
    top: 80px;
    right: 100px;
  }
}
