@import '../variables';

.measurement {
  width: 95%;
  margin-bottom: 8vh;
}

.header {
  width: 100%;
}

.header-item {
  flex-grow: 1;
}

.header-item > h1 {
  font-size: 55px;
}

.header-button {
  width: 20%;
  margin-left: auto;
}
