$cinema: 2000px;
$desktop: 1200px;
$laptop: 1024px;
$tablet: 768px;
$mobile: 375px;

$maxMobileCabinetsWidth: 95%;
$minMobileMaxTabletCabinetsWidth: 95%;
$minTabletMaxLaptopCabinetsWidth: 95%;
$minLaptopMaxDesktopCabinetsWidth: 85%;
$minDesktopMaxCinemaCabinetsWidth: 65%;
$maxCinemaCabinetsWidth: 55%;

$maxMobileDropdownFont:18px;
$minMobileMaxTabletDropdownFont:20px;
$minTabletMaxLaptopDropdownFont:20px;
$minLaptopMaxDesktopDropdownFont:20px;
$minDesktopMaxCinemaDropdownFont:20px;
$maxCinemaCabinetsDropdownFont:30px;