.cabinets {
  margin-top: 20px;
  margin-bottom: 8vh;
  width: 100%;
}

.cabinet-cards {
  margin-top: 20px;
  gap: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
}
